In [10]:
# Write a code to create a string with your name and print it.
name = "Sarath"
print(name)

Sarath

In [1]:
# Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [2]:
# Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [3]:
# Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [4]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [5]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [6]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [7]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [8]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [9]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
numbers_to_reverse = [10, 20, 30, 40, 50]
numbers_to_reverse.reverse()
print(numbers_to_reverse)

[50, 40, 30, 20, 10]

In [11]:
# Create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers_tuple = (10, 20, 5, 15)

# Find the minimum number in the tuple
min_number = min(numbers_tuple)
print(min_number)

5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [15]:
# Create a tuple containing three different fruits
fruits = ('apple', 'banana', 'cherry')

# Check if "kiwi" is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [16]:
# Create a set with the elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [17]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set_to_clear = {1, 2, 3, 4, 5}
my_set_to_clear.clear()
print(my_set_to_clear)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set_to_remove = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set_to_remove.remove(4)

# Print the updated set
print(my_set_to_remove)

{1, 2, 3}

In [19]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
##Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set3 = {1, 2, 3}
set4 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set3.intersection(set4)
print(intersection_set)

{2, 3}

In [21]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person_info = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(person_info)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person_info = {'name': 'John', 'age': 25}

# Add the new key-value pair
person_info['country'] = 'USA'

# Print the updated dictionary
print(person_info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = person['name']
print(name_value)

Alice

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [25]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person_info = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age" from the dictionary
person_info.pop('age')

# Print the updated dictionary
print(person_info)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person_info = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists in the dictionary
if 'city' in person_info:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [27]:
#Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [10, 20, 30, 40, 50]

# Create a tuple
my_tuple = (60, 70, 80, 90, 100)

# Create a dictionary
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40, 50]
Tuple: (60, 70, 80, 90, 100)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [28]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.replaced()
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[32, 41, 63, 74, 97]

In [32]:
# Write a code to create a list with strings and print the element at the third index
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index
print(string_list[3])

date

In [33]:
#Write a code to combine two dictionaries into one and print the result
combined_dict = {**person, **person_info}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [34]:
# Write a code to convert a list of strings into a set
string_set = set(string_list)

# Print the resulting set
print(string_set)

{'apple', 'elderberry', 'date', 'cherry', 'banana'}